{% extends "base.html" %}

{% block title %}
User Registration
{% endblock %}

{% block content %}

<div class="row justify-content-center">


<div class="col-md-6">

    <div class="card shadow">

        <div class="card-header text-center">
            <h3>User Registration</h3>
        </div>

        <div class="card-body">

            <form method="POST">

                <div class="mb-3">
                    <label class="form-label">Full Name</label>
                    <input type="text"
                           class="form-control"
                           name="name"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email"
                           class="form-control"
                           name="email"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password"
                           class="form-control"
                           name="password"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Phone Number</label>
                    <input type="text"
                           class="form-control"
                           name="phone">
                </div>

                <div class="mb-3">
                    <label class="form-label">Age</label>
                    <input type="number"
                           class="form-control"
                           name="age">
                </div>

                <div class="mb-3">
                    <label class="form-label">Emergency Contact</label>
                    <input type="text"
                           class="form-control"
                           name="emergency_contact">
                </div>

                <button type="submit"
                        class="btn btn-success w-100">
                    Register
                </button>

                <p class="text-center mt-3">
                    Already have an account?
                    <a href="{{ url_for('auth.login') }}">
                        Login
                    </a>
                </p>

            </form>

        </div>

    </div>

</div>


</div>

{% endblock %}
